<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.mock.entities.User" id="user">

</bean>

<bean class="com.mock.entities.University" id="university">

</bean>

<bean class="com.mock.dao.UserDAO" id="userDAO">

</bean>

<bean class="com.mock.services.UserService" id="userService">

</bean>


</beans>
